.cardWarp {
  cursor: pointer;
}

.cardWarp:hover .cardInfo {
  transform: translateY(0);
}
.cardWarp:hover .cardInfo p {
  opacity: 1;
}
.cardWarp:hover .cardInfo,
.cardWarp:hover .cardInfo p {
  transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}




.card {
  position: relative;
  background-color: #333;
  overflow: hidden;
  border-radius: 28px;
  transition: 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.cardBg {
  opacity: 0.9;
  position: absolute;
  inset: 0;
  margin: auto;

  width: calc(100% + 30px);
  height: calc(100% + 30px);
}
.cardInfo {
  padding: 20px;
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateY(50%);
  transition: 0.5s 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.cardInfo p {
  opacity: 0;
  /* font-size: 18px; */
  text-shadow: black 0 2px 3px;
  transition: 0.5s 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.cardInfo * {
  position: relative;
  z-index: 1;
}

.cardInfo .title {
  /* font-size: 32px; */
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, 0.5) 0 5px 5px;
}




.container {
  display: flex;
  overflow-x: scroll;
  width: 100%;
}


