/* Gallery Layout */
.gallery {
  column-count: 3;
  column-width: 33%;
  padding: 0 100px;
  margin: 100px 0;
}

.gallery .pics {
  opacity: 0;
  transform: translateY(20px);
  transition: transform 0.3s ease, opacity 0.4s ease;
  cursor: pointer;
  margin-bottom: 12px;
  animation: fadeInUp 0.6s ease forwards;
  overflow: hidden;
}

@media (max-width: 991px) {
  .gallery {
      column-count: 2;
      column-width: 50%;
  }
}

@media (max-width: 480px) {
  .gallery {
      column-count: 1;
      column-width: 100%;
  }
}

/* Hover Effect */
.gallery .pics img:hover {
  transform: scale(1.05); /* Scale to 105% on hover */
}

/* Fade-In Animation for Gallery */
@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(37, 37, 37, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: modalFadeIn 0.4s ease;
}

.modal-content {
  display: flex;
  width: 70%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  animation: modalFadeIn 0.4s ease;
}

.modal-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  opacity: 0;
  animation: fadeInImage 0.5s ease forwards;
}

@keyframes modalFadeIn {
  from {
      opacity: 0;
      transform: scale(0.9);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}

/* Image Fade-In Animation */
@keyframes fadeInImage {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* Close Button */
.close {
  position: absolute;
  top: 40px;
  right: 30px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s;
}

.close:hover {
  color: #bbb; 
}

.instruction-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color:rgb(112, 248, 112);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 100; /* Ensure it is above other elements */
  animation: fade-in 0.2s; /* Optional fade-in animation */
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
