@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000000;
  --color-a: #242424;
  --color-b: #494949;
  --color-c: #6d6d6d;
  --color-d: #929292;
  --color-e: #b6b6b6;
  --color-f: #dbdbdb;
  --white: #ffffff;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}